.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    width: 20rem;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
}
.modal-footer, .modal-header {
    padding: 10px;
}
.modal-title {
    margin: 0;
    color: #5e6e11;
}
.modal-body {
    padding: 10px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    color: #5e6e11;

}